.mainheader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--bg);
  position: fixed;
  overflow: hidden;
  margin: 10px 0px 0px 30px;
  background-color: transparent;
}

#header_text {
  font-family: 'BauhausBold', monospace;
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  transition: all 200ms;
  color: #ffffff;
}

#header_text:hover {
  transform: skew(15deg);
  color: #7fcaff;
}

#header_text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  overflow: hidden;
  transition: all 700ms ease-in-out;
}

#header_text:hover::before {
  top: -3px;
  padding-left: 5px;
  color: #fd79ff;
}

#header_text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 200ms;
}

#header_text:hover::after {
  text-shadow: 0 0 15px #fd79ff;
}
.music-note {
  position: absolute;
  font-size: 24px;
  animation: fly 3s ease-in-out forwards;
  opacity: 0;
  z-index: 5;
  transition: color 0.2s ease;
}

@keyframes fly {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px) scale(1.5);
  }
}
