* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
main::before{
    content: "";
    position:absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.6) contrast(1.8);
    background-image: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExb3h2amEzc242dHMyaWp1aDFmNnEwM2RrYnBuNjhqemExeGZ6b2liaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QQkd5ymqRr2kCH5xAU/giphy.gif');
}


.pllists {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    overflow:auto;
    max-height: 90vh; 
    width: 73%; 
}

.pllists::-webkit-scrollbar {
    width: 10px;
}

.pllists::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(to bottom, #fd79ff, #7fcaff);
}

.audio {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 300px; 
    min-width: 200px;
    box-sizing: border-box; 
    background-color: #272727; 
    color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.audio img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.audio h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

.audio p {
    font-size: 0.9em;
    margin-top: 5px;
}
