* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodymain {
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

html, .bodymain{
    height: 100%;
    overflow-x: hidden;
}

.bodymain::-webkit-scrollbar {
    display: none;
}