.profbutton{
    position: fixed;
    right: 1%;
    top: 3%;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    
}
.profimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profilename {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(50deg, #fd79ff, #7fcaff);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.profbutton:hover .profilename {
    opacity: 1;
    visibility: visible;
}