.profmain {
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('https://media3.giphy.com/media/4cAq3aSaftBAJauSgZ/giphy.gif?cid=6c09b952blnyvo5sjgu8q0v955msjxffmpo0gaja0h6496kt&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maintext {
    margin-top: 40px;
    font-size: 2.4rem; 
    text-align: center;
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 5px #fff,
        0 0 5px rgb(161, 4, 96),
        0 0 10px rgb(161, 4, 96),
        0 0 5px rgb(134, 4, 4),
        0 0 10px rgb(134, 4, 4),
        0 0 10px rgb(134, 4, 4);
}

.proflists {
    display: flex;
    flex-wrap: nowrap; 
    gap: 20px; 
    padding: 10px;
    justify-content: flex-start; 
    width: 75%; 
    overflow-x: auto; 
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.proflists::-webkit-scrollbar {
    height: 10px;
    background: transparent;
}

.proflists::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #fd79ff, #ee3114);
    box-shadow:
        0 0 5px #fff,
        0 0 5px #fff,
        0 0 5px rgb(225, 0, 0),
        0 0 10px rgb(255, 0, 0),
        0 0 5px rgb(252, 0, 227),
        0 0 10px rgb(252, 0, 227),
        0 0 10px rgb(252, 0, 227);
    border-radius: 5px;
    width: 1px;
}

.profaudio {
    flex: 0 0 auto; 
    background: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    width: 150px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.profaudio img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ff5100;
}

.profaudio h2 {
    font-size: 0.9rem;
    margin: 10px 0 0 0;
    color: #fff;
}

.artnames {
    margin-top: 60px;
    font-size: 2.4rem;
    text-align: center;
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 5px #fff,
        0 0 5px rgb(161, 4, 96),
        0 0 10px rgb(161, 4, 96),
        0 0 5px rgb(215, 148, 4),
        0 0 10px rgb(215, 148, 4),
        0 0 10px rgb(215, 148, 4);
}